@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to lab4</h1>
    <p>You can access tables by selecting the one you need at the page header.</p>
</div>
